.slider-block {
	height: 570px;
	position: relative;
	.slide-1 {
		background: @grayblue url(images/slide-image-1.png) no-repeat top right;
		.container {
			padding: 0;
			.row {
				.col-4 {
					.slide-title {
						width: 458px;
						font-style: normal;
						font-weight: bold;
						font-size: 55px;
						line-height: 70px;
						color: @carbon2;
						font-family: 'Roboto Slab', serif;
						margin-top: 20px;
						margin-bottom: 15px;
					}
					.slide-descr {
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 30px;
						margin-bottom: 40px;
						color: @darkgray;
						max-width: 335px;
					}
					.button {
						.button-price {margin-right: 10px;}
					}
				}
			}
		}
	}
	.slide-2 {
		background: @transpgrassgreen url(images/slide-image-1.png) no-repeat top right;
		.container {
			padding: 0;
			.row {
				.col-4 {
					.slide-title {
						width: 458px;
						font-style: normal;
						font-weight: bold;
						font-size: 55px;
						line-height: 70px;
						color: @carbon2;
						font-family: 'Roboto Slab', serif;
						margin-top: 20px;
						margin-bottom: 15px;
					}
					.slide-descr {
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 30px;
						margin-bottom: 40px;
						color: @darkgray;
						max-width: 335px;
					}
					.button {
						.button-price {margin-right: 10px;}
					}
				}
			}
		}
	}
	.slide-3 {
		background: @transppink url(images/slide-image-1.png) no-repeat top right;
		.container {
			padding: 0;
			.row {
				.col-4 {
					.slide-title {
						width: 458px;
						font-style: normal;
						font-weight: bold;
						font-size: 55px;
						line-height: 70px;
						color: @carbon2;
						font-family: 'Roboto Slab', serif;
						margin-top: 20px;
						margin-bottom: 15px;
					}
					.slide-descr {
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 30px;
						margin-bottom: 40px;
						color: @darkgray;
						max-width: 335px;
					}
					.button {
						.button-price {margin-right: 10px;}
					}
				}
			}
		}
	}

	.slider-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		z-index: 9999;
		.container {
			.row {
				.col-1 {
					.slide-button {
						background-color: transparent;
						border: none;
						cursor: pointer;

					}
				}
			}
		}
	}
}

.container {
	.row {
		.col-6 {
			.card {
				min-height: 370px;
				border: none;
				padding: 60px 46px 80px;
				.card-title {
					max-width: 222px;
					font-style: normal;
					font-weight: bold;
					font-size: 25px;
					line-height: 30px;
					color: @carbon2;
					font-family: 'Roboto Slab', serif;
					margin-bottom: 15px;
				}
				.card-text {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 25px;
					color: @darkgray;
					max-width: 176px;
				}
				.button {
					max-width: 120px;
				}
			}

			.card-1 {
				background: #E3E2E3 url(images/card-img-1.png) no-repeat top right;
				background-size: cover;
				border-radius: 10px;
			}

			.card-2 {
				background: #E3E2E3 url(images/card-img-2.png) no-repeat top right;
				background-size: cover;
				border-radius: 10px;
			}
		}
		.col-9 {
			margin-top: 30px;
			.card {
				min-height: 370px;
				border: none;
				padding: 35px 46px 60px;
				.label {
					max-width: 77px;
					margin-bottom: 30px;
				}
				.card-title {
					font-style: normal;
					font-weight: bold;
					color: @carbon2;
					font-family: 'Roboto Slab', serif;
					margin-bottom: 15px;
					&.large {
						font-size: 40px;
						line-height: 50px;
						max-width: 419px;
					}
				}
				.card-text {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 25px;
					color: @darkgray;
					max-width: 176px;
				}
				.button {
					max-width: 145px;
				}
			}

			.card-3 {
				background: #CCD5E6 url(images/card-img-3.png) no-repeat top right 10%;
				background-size: contain;
				border-radius: 10px;
			}
		}
		.col-3 {
			margin-top: 30px;
			.card {
				min-height: 370px;
				border: none;
				padding: 35px 37px 210px 26px;
				.card-title {
					max-width: 222px;
					font-style: normal;
					font-weight: bold;
					font-size: 25px;
					line-height: 30px;
					color: @carbon2;
					font-family: 'Roboto Slab', serif;
					margin-bottom: 15px;
				}
				.card-text {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 25px;
					color: @darkgray;
					max-width: 176px;
				}
				.card-price {
					font-style: normal;
					font-weight: 900;
					font-size: 14px;
					line-height: 20px;
				}
			}

			.card-4{
				background: #FF4F52 url(images/card-img-4.png) no-repeat top right;
				background-size: cover;
				border-radius: 10px;
				max-height: 370px;
			}
		}
	}

	.title {
		margin-top: 30px;
		.section-title {
			font-style: normal;
			font-weight: bold;
			font-size: 25px;
			line-height: 30px;
			color: @carbon2;
			font-family: 'Roboto Slab', serif;
		}
		.view-all {
			font-style: normal;
			font-weight: 900;
			font-size: 14px;
			line-height: 20px;
			font-family: 'Lato', sans-serif;
			color: @carbon2;
		}
	}

	.goods-list {
		.col-3 {
			.goods-item {
				position: relative;
				text-align: center;
				padding: 30px 35px 35px 35px;
				.goods-item-label {
					position: absolute;
					left: 18px;
					top: 18px;
				}
				.goods-item-img {
					margin-bottom: 15px;
				}
				.goods-item-title {
					font-family: 'Roboto Slab', serif;
					color: @carbon2;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 25px;
					&:last-of-type {
						width: 213px;
					}
				}
				.goods-item-descr {
					margin-top: -3px;
					margin-bottom: 20px;
					font-family: 'Lato', sans-serif;
					color: @carbon2;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
				}
				.goods-item-price {
					color: @carbon2;
					font-family: 'Lato', sans-serif;
					font-size: 18px;
					line-height: 30px;
					font-weight: bold;
				}
			}
		}
	}
}




/* ------------------------ Мобильная версия ------------------------ */
@media all and (max-width: 1024px) {

	.slider-block {
		height: 424px;
    	position: relative;
		.slide-1 {
			background: @grayblue url(images/slide-image-1.png) no-repeat top left -5%;
			background-size: cover;
		    width: 100%;
		    background-size: cover;
			.container {
				padding: 4% 0;
				.row {
				    position: absolute;
    				top: 29px;
    				padding: 0 4%;
					.col-4 {
						.slide-title {
						    font-size: 35px;
						    line-height: 45px;
						    width: 350%;
						    margin-bottom: 20px;
						}
						.slide-descr {
							font-size: 17px;
						    line-height: 28px;
						    width: 350%;
						}
						.button {
							display: inline-flex;
						    justify-content: space-between;
						    width: 170%;
						}
					}
				}
			}
		}
		.slide-2 {
			background: @transpgrassgreen url(images/slide-image-1.png) no-repeat top left -5%;
			background-size: cover;
		    width: 100%;
		    background-size: cover;
			.container {
				padding: 4% 0;
				.row {
				    position: absolute;
    				top: 29px;
    				padding: 0 4%;
					.col-4 {
						.slide-title {
						    font-size: 35px;
						    line-height: 45px;
						    width: 350%;
						    margin-bottom: 20px;
						}
						.slide-descr {
							font-size: 17px;
						    line-height: 28px;
						    width: 350%;
						}
						.button {
							display: inline-flex;
						    justify-content: space-between;
						    width: 170%;
						}
					}
				}
			}
		}
		.slide-3 {
			background: @transppink url(images/slide-image-1.png) no-repeat top left -5%;
			background-size: cover;
		    width: 100%;
		    background-size: cover;
			.container {
				padding: 4% 0;
				.row {
				    position: absolute;
    				top: 29px;
    				padding: 0 4%;
					.col-4 {
						.slide-title {
						    font-size: 35px;
						    line-height: 45px;
						    width: 350%;
						    margin-bottom: 20px;
						}
						.slide-descr {
							font-size: 17px;
						    line-height: 28px;
						    width: 350%;
						}
						.button {
							display: inline-flex;
						    justify-content: space-between;
						    width: 170%;
						}
					}
				}
			}
		}

		.slider-nav {
			display: none;
		}
	}

	.container {
    	padding: 0 4%;
		.row {
			.col-6 {
				display: block;
			    max-width: 100% !important;
			    flex: none;
			    margin-bottom: 20px;
				.card {
				    padding: 20px 5%;
				    min-height: 0;
					.card-title {
						font-size: 20px;
    					line-height: 24px;
					}
					.card-text {
						font-size: 13px;
					}
					.button {
						max-width: 38%;
   						padding: 10px 4%;
					}
				}

				.card-1 {
					background: #E3E2E3 url(images/card-img-1.png) no-repeat top right;
					background-size: cover;
					border-radius: 10px;
				}

				.card-2 {
					background: #E3E2E3 url(images/card-img-2.png) no-repeat top right;
					background-size: cover;
					border-radius: 10px;
				}
			}
			.col-9 {
				display: block;
			    max-width: 100% !important;
			    flex: none;
			    margin-bottom: 20px;
			    margin-top: 0 !important;
				.card {
				    padding: 20px 5%;
				    min-height: 0;
				    .label {
				    	margin-bottom: 25px;
    					max-width: 29%;
				    }
					.card-title {
						font-size: 20px !important;
    					line-height: 24px !important;
					}
					.card-text {
						font-size: 13px;
					}
					.button {
						max-width: 47%;
					    padding: 10px 4%;
					    font-size: 13px;
					}
				}

				.card-3 {
					background: #CCD5E6 url(images/card-img-3.png) no-repeat top left -38%;
					background-size: cover;
					border-radius: 10px;
				}
			}
			.col-3 {
				display: block;
			    max-width: 100% !important;
			    flex: none;
			    margin-top: 0;
				.card {
				    padding: 20px 5%;
					.card-title {
						font-size: 20px;
    					line-height: 24px;
					}
					.card-text {
						font-size: 13px;
					}
				}
				.card-4{
					background: #FF4F52 url(images/card-img-4.png) no-repeat top right;
					background-size: cover;
					border-radius: 10px;
					max-height: 370px;
				}
			}
		}

		.title {
		    display: block;
			.section-title {
				font-style: normal;
				font-weight: bold;
				font-size: 25px;
				line-height: 30px;
				color: @carbon2;
				font-family: 'Roboto Slab', serif;
			}
			.view-all {
				justify-content: flex-start;
    			display: flex;
			}
		}

		.goods-list {
			margin-top: 10px;
			.col-3 {
				.goods-item {
					position: relative;
					text-align: center;
					padding: 30px 35px 35px 35px;
					.goods-item-label {
						position: absolute;
						left: 18px;
						top: 18px;
					}
					.goods-item-img {
						margin-bottom: 15px;
					}
					.goods-item-title {
						font-family: 'Roboto Slab', serif;
						color: @carbon2;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 25px;
						&:last-of-type {
							width: 213px;
						}
					}
					.goods-item-descr {
						margin-top: -3px;
						margin-bottom: 20px;
						font-family: 'Lato', sans-serif;
						color: @carbon2;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
					}
					.goods-item-price {
						color: @carbon2;
						font-family: 'Lato', sans-serif;
						font-size: 18px;
						line-height: 30px;
						font-weight: bold;
					}
				}
			}
		}
	}

} // Конец запроса
